/* .___Input-wrapper > label{
  display: inline-flex;
} */
.___Input-wrapper > label:focus-within{
  /* outline-width: 1px;
  outline-style: solid;
  outline-color: orange; */
}
.___Input-wrapper > label > input{
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

.___Input-wrapper > label > input:focus{
  outline: none;
}
.___Input-wrapper > label > input[type=number]::-webkit-inner-spin-button, 
.___Input-wrapper > label > input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}