label{
  display: inline-flex;
}
label:focus-within{
  outline-width: 1px;
  outline-style: solid;
  outline-color: orange;
}
label > input{
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}

input:focus{
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}