.basic-input{
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  box-sizing: border-box;
  border-radius: 3px;
  color: rgba(0,0,0,.65);
  font-size: 10pt;
}
.basic-input:focus-within{
  border: 1px solid #40a9ff !important;
}

.addon-before{
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px 11px;
  font-size: 11pt;
  color: rgba(0,0,0,0.65);
  border: 1px solid #bebebe;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.addon-after{
  font-family: inherit;
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px 11px;
  font-size: 11pt !important;
  color: rgba(0,0,0,0.65);
  border: 1px solid #bebebe;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
}